services:
  gitlab:
    image: gitlab/gitlab-ce:${image_tag}
    container_name: gitlab
    hostname: ${gitlab_domain}
    restart: ${restart_policy}
    networks:
      - traefik_net
    volumes:
      - gitlab_data:/var/opt/gitlab
      - gitlab_log:/var/log/gitlab
      - gitlab_backup:/var/opt/gitlab/backups
      - gitlab_config:/etc/gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Gitlab external domain
        external_url 'https://${gitlab_domain}'

        # Gitlab Root Password
        gitlab_rails['initial_root_password'] = "${gitlab_root_pass}"
        gitlab_rails['display_initial_root_password'] = false
        gitlab_rails['store_initial_root_password'] = false

        # Gitlab Nginx Config
        nginx['enable'] = true
        nginx['client_max_body_size'] = '250m'
        nginx['redirect_http_to_https'] = false
        nginx['gzip_enabled'] = true
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        nginx['proxy_protocol'] = false

        # GitLab email server settings
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "smtp.gmail.com"
        gitlab_rails['smtp_port'] = 587
        gitlab_rails['smtp_user_name'] = "${smtp_username}"
        gitlab_rails['smtp_password'] = "${smtp_password}"
        gitlab_rails['smtp_domain'] = "smtp.gmail.com"
        gitlab_rails['smtp_authentication'] = "login"
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['smtp_tls'] = false
        gitlab_rails['smtp_openssl_verify_mode'] = 'peer'

        # Gitlab ban authentication failed
        gitlab_rails['rack_attack_git_basic_auth'] = {
          'enabled' => true,
          'ip_whitelist' => [""],
          'maxretry' => 10,
          'findtime' => 60,
          'bantime' => 3600
        }

        # Gitlab Backup Settings
        gitlab_rails['manage_backup_path'] = true
        gitlab_rails['backup_path'] = "/var/opt/gitlab/backups"
        gitlab_rails['backup_archive_permissions'] = 0644
        gitlab_rails['backup_keep_time'] = 604800
        gitlab_rails['env'] = {
            "SKIP" => "registry"
        }
        gitlab_rails['backup_multipart_chunk_size'] = 104857600

        # Settings used by GitLab registry
        #registry_external_url 'https://${registry_domain}'
        registry_nginx['enable'] = true
        registry_nginx['listen_port'] = 5001
        registry_nginx['listen_https'] = false
        registry_nginx['proxy_set_headers'] = {
          "Host" => "$$http_host",
          "X-Real-IP" => "$$remote_addr",
          "X-Forwarded-For" => "$$proxy_add_x_forwarded_for",
          "X-Forwarded-Proto" => "https",
          "X-Forwarded-Ssl" => "on"
        }

        # Gitlab disable unused services
        node_exporter['enable'] = false
        redis_exporter['enable'] = false
        postgres_exporter['enable'] = false
        pgbouncer_exporter['enable'] = false
        gitlab_exporter['enable'] = false
        letsencrypt['enable'] = false
        prometheus['enable'] = false
        monitoring_role['enable'] = false
        alertmanager['enable'] = false

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`gitlab.amirkolahi.ir`)"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.routers.gitlab.tls.certresolver=letsencrypt"

      - "traefik.http.routers.gitlab-http.rule=Host(`gitlab.amirkolahi.ir`)"
      - "traefik.http.routers.gitlab-http.entrypoints=web"
      - "traefik.http.routers.gitlab-http.middlewares=gitlab-https-redirect"
      - "traefik.http.middlewares.gitlab-https-redirect.redirectscheme.scheme=https"

networks:
   traefik_net:
     external: true
     driver: bridge
     #attachable: true

volumes:
  gitlab_data:
    name: gitlab_data
  gitlab_log:
    name: gitlab_log
  gitlab_backup:
    name: gitlab_backups
  gitlab_config:
    name: gitlab_config