- name: Create docker-hosted
  ansible.builtin.uri:
    url: "{{ nexus_main_url }}/service/rest/v1/repositories/docker/hosted"
    user: "{{ nexus_username }}"
    password: "{{ nexus_password }}"
    method: POST
    force_basic_auth: yes
    status_code: [201]
    body_format: json
    body:
      name: "docker-hosted"
      online: true
      storage:
        blobStoreName: "default"
        writePolicy: "ALLOW"
        strictContentTypeValidation: true 
      docker:
        v1Enabled: false
        forceBasicAuth: true
        httpPort: 8083