services:
  traefik:
    image: traefik:v3.6.4
    restart: always
    container_name: traefik
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./letsencrypt:/letsencrypt
      
    networks:
      - traefik_net

networks:
  traefik_net:
    driver: bridge
    #attachable: true
    name: traefik_net
    external: true
