log_file = {{ auditd_config.log_file }}
log_format = {{ auditd_config.log_format }}
flush = {{ auditd_config.flush }}
freq = {{ auditd_config.freq }}
max_log_file = {{ auditd_config.max_log_file }}
num_logs = {{ auditd_config.num_logs }}
max_log_file_action = {{ auditd_config.max_log_file_action }}
space_left_action = {{ auditd_config.space_left_action }}
admin_space_left_action = {{ auditd_config.admin_space_left_action }}
action_mail_acct = {{ auditd_config.action_mail_acct }}
