---
- name: createsProjectsDirectory
  ansible.builtin.file:
    path: "{{ project_path }}"
    state: directory

- name: Copy whole files
  ansible.builtin.copy:
    src: "{{ role_path }}/files/"  
    dest: "{{ project_path }}"

- name: Create a docker network
  community.docker.docker_network:
    name: traefik_net
    driver: bridge
    attachable: yes  
    state: present

- name: Bring up stack with Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ project_path }}"
    files: ["compose.yml"]
    state: present
    pull: always
    remove_orphans: true
  register: compose_result
